<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/src/css/style.css" />
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300&family=Nunito:ital,wght@1,600&display=swap" rel="stylesheet" />
    <title>MeltingPop</title>
  </head>
  <body>
    <nav class="navigation">
      <h1 class="nav-logo">
        <a href="/"><i class="fa-solid fa-compact-disc"></i>MeltingPop</a>
      </h1>

      <form action="/search" method="get" class="nav-search">
        <input type="text" name="search_title" class="search-box" placeholder="검색어를 입력하세요." />

        <button type="submit" class="search-btn" id="search-btn">
          <i class="fa-solid fa-magnifying-glass search-icon"></i>
        </button>
      </form>

      <form action="/login" method="get">
        <a id="login" href="/login" class="nav-usr">로그인/회원가입<i class="fa-solid fa-user"> </i> </a>
      </form>
    </nav>

    <div id="main">
      <section class="index-section">
        <div class="category">
          <h4 class="category-head">
            <div class="category-link">최근 수정</div>
          </h4>
          <div class="updated-list">
            <table>
              <tbody>
                <tr style="cursor: pointer" th:each="list, stat: ${modified_song_list}" th:onclick="'window.location.href = \'' + @{/view-lyric(song_title=${list.boardTitle}, singer=${list.singer})} +'\''">
                  <td th:text="|${stat.index}|+1+'.'"></td>
                  <td th:name="list_title" th:text="${list.boardTitle}">제목</td>
                  <td th:name="list_singer" th:text="${list.singer}">가수</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </section>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/fd5e96c4d0.js" crossorigin="anonymous"></script>
  </body>
</html>
