<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/src/css/style.css" />
    <link
            href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300&family=Nunito:ital,wght@1,600&display=swap"
            rel="stylesheet"
    />
    <title>MeltingPop</title>
</head>
<body>
<nav class="navigation">
    <h1 class="nav-logo">
        <a href="/"
        ><i class="fa-solid fa-compact-disc"></i>MeltingPop</a
        >
    </h1>

    <form action="/search" method="get" class="nav-search">
        <input
                type="text"
                name="search_title"
                class="search-box"
                placeholder="검색어를 입력하세요."
        />

        <button type="submit" class="search-btn">
            <i class="fa-solid fa-magnifying-glass search-icon"></i>
        </button>
    </form>

    <form action="/login" method="get">
    <a id="login" href="/login" class="nav-usr">로그인/회원가입<i class="fa-solid fa-user">

    </i>
    </a>
    </form>
</nav>

<div id="main">
    <section class="index-section">
        <div class="category">
            <h4 class="category-head">
                <a href="pages/updated-songs.html" class="category-link">최근 수정 ></a>
            </h4>
            <div class="tab-content">
                <table>
                    <tbody width="400px">
                    <tr style="cursor:pointer;" th:each = "list, stat: ${modified_song_list}" th:onclick = "'window.location.href = \'' + @{/view-lyric(song_title=${list.boardTitle}, singer=${list.singer})} +'\''">
                        <td th:text="|${stat.index}|+1+'.'"></td>
                        <td th:name="list_title" th:text="${list.boardTitle}">제목</td>
                        <td th:name="list_singer" th:text="${list.singer}">가수</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>

    <section style="visibility: hidden" class="index-section">
        <div class="category">
            <h4 class="category-head">
                <a href="pages/new-songs.html" class="category-link">최신 음악 ></a>
            </h4>

            <ul>
                <li class="category-item">
                    <a href="pages/view-lyrics.html">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quos
                        quam sed, illum ratione maiores reiciendis temporibus! Qui
                        inventore unde sint soluta vel ea dolorum ipsam accusamus
                        repudiandae! Architecto, mollitia itaque.</a>
                </li>
                <li class="category-item">
                    <a href="pages/view-lyrics.html">new</a>
                </li>
                <li class="category-item">
                    <a href="pages/view-lyrics.html">new</a>
                </li>
                <li class="category-item">
                    <a href="pages/view-lyrics.html">new</a>
                </li>
                <li class="category-item">
                    <a href="pages/view-lyrics.html">new</a>
                </li>
                <li class="category-item">
                    <a href="pages/view-lyrics.html">new</a>
                </li>
                <li class="category-item">
                    <a href="pages/view-lyrics.html">new</a>
                </li>
                <li class="category-item">
                    <a href="pages/view-lyrics.html">new</a>
                </li>
            </ul>
        </div>
        <div class="category">
            <h4 class="category-head">
                <a href="pages/top-songs.html" class="category-link">인기 차트 ></a>
            </h4>
            <ol>
                <li class="category-item">
                    <a href="pages/view-lyrics.html">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Voluptates a, ad adipisci suscipit dolor nihil accusamus optio
                        exercitationem fugiat saepe ex repellendus ea labore accusantium
                        praesentium at atque molestiae alias.</a>
                </li>
                <li class="category-item">
                    <a href="pages/view-lyrics.html">top</a>
                </li>
                <li class="category-item">
                    <a href="pages/view-lyrics.html">top</a>
                </li>
                <li class="category-item">
                    <a href="pages/view-lyrics.html">top</a>
                </li>
                <li class="category-item">
                    <a href="pages/view-lyrics.html">top</a>
                </li>
                <li class="category-item">
                    <a href="pages/view-lyrics.html">top</a>
                </li>
                <li class="category-item">
                    <a href="pages/view-lyrics.html">top</a>
                </li>
                <li class="category-item">
                    <a href="pages/view-lyrics.html">top</a>
                </li>
            </ol>
        </div>
    </section>
</div>

<footer></footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<script src="https://kit.fontawesome.com/fd5e96c4d0.js" crossorigin="anonymous"></script>
</body>
</html>
