<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/../src/css/style.css" />
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300&family=Nunito:ital,wght@1,600&display=swap" rel="stylesheet" />
    <title>MeltingPop : 가사 보기</title>
  </head>

  <body>
    <nav class="navigation">
      <h1 class="nav-logo">
        <a href="/"><i class="fa-solid fa-compact-disc"></i>MeltingPop</a>
      </h1>
      <form action="/search" class="nav-search">
        <input type="text" name="search_title" class="search-box" placeholder="검색어를 입력하세요." />
        <button type="submit" class="search-btn">
          <i class="fa-solid fa-magnifying-glass search-icon"></i>
        </button>
      </form>
      <a href="login.html" class="nav-usr">로그인/회원가입<i class="fa-solid fa-user"></i></a>
    </nav>

    <main id="wrapper">
      <article class="board-wrap">
        <section class="board-title">
          <h3>가사 보기</h3>
        </section>
        <section class="board-content">
          <div class="board-view">
            <section class="song-info">
              <ul>
                <dl>
                  <dt>Udpated</dt>
                  <dd id="updated" th:text="${created_date}">

                  </dd>
                </dl>
                <li class="bar">|</li>
                <dl>
                  <dt>Atrist</dt>
                  <dd th:text="${singer}"></dd>
                </dl>
                <li class="bar">|</li>
                <dl>
                  <dt>Album</dt>
                  <dd th:text="${writer}"></dd>
                </dl>
              </ul>
            </section>

            <div>
              <section class="song-view">
                <section id="en-song" class="song-section">
                  <pre id="en-title" class="song-title" th:text="${song_title}">

                  </pre>
                  <pre id="en-lyrics" class="song-lyrics" th:text="${english_lyric}">
                  </pre>
                </section>
                <section id="ko-song" class="song-section">
                  <pre id="ko-title" style="visibility:hidden" class="song-title" th:text="${song_title}">

                  </pre>
                  <pre id="ko-lyrics" class="song-lyrics" th:text="${korean_lyric}">
                  </pre>
                </section>
              </section>
              <section class="btn-wrap">
                <a href=".." class="board-btn" id="back-btn">목록</a>
                <button th:onclick="'window.location.href = \''+@{/edit-lyric(song_title=${song_title})}+'\''" class="board-btn" id="edit-btn"> 편집 </button>
              </section>
            </div>
          </div>

        </section>
      </article>
    </main>
    <script src="https://kit.fontawesome.com/fd5e96c4d0.js" crossorigin="anonymous"></script>
  </body>
</html>
